// color
$black : #000;
$red : #ed1651;
$blue : #5573e2;
$lightgray : #ebebed;
$bc-1 : #009591;
$bc-2 : #16a077;
$bc-3 : #556b79;

$base-line : #ccc;

///
/// 
$img-path : '../images';
$header-h : 56px;
$inner : 24px;